{% extends 'layout.html' %}
{% block header_include %}

{% endblock %}

{% block js_include %}
    <script type="text/javascript">
        function update_label(what, value) {
            document.querySelector('label[for="' + what + '"] span').textContent = value;
        }

        $(function () {
            {% for i in ['wMin'] %}
                document.querySelector('label[for="{{ i }}"]').innerHTML = '{{ form[i].label.text }}: <span>{{ form[i].data }}</span>';
                document.getElementsByName('{{ i }}')[0].addEventListener('change', (evt) => {
                    let elt = evt.srcElement || evt.target;
                    if (elt.value) update_label('{{ i }}', elt.value);
                });
            {% endfor %}

        });
    </script>
{% endblock %}

{% block body %}
    <h1>SG Language detection</h1>

    <div class="card">
        <div class="card-header bg-primary text-white">
            Query
        </div>
        <div class="card-body">
            <p>Enter an url with potential Swiss German sentences:</p>
            <form class="form" method="post">
                {% from '_formhelpers.html' import render_field %}
                {% from 'wtf.html' import form_field %}
                {{ form.hidden_tag() }}
                {{ form_field(form.url, placeholder="http://example.com") }}
                {{ form_field(form.extractor_class) }}
                {{ form_field(form.model_class) }}
                {{ form_field(form.wMin, min=form.wMin.validators[-1].min, max=form.wMin.validators[-1].max) }}
                {{ form_field(form.return_raw) }}
                <input type="submit" class="btn btn-primary" value="Go!">
            </form>
        </div>
    </div>

    {% if results is defined %}
        {% include '_results-proba.html' %}
    {% endif %}

{% endblock %}