scipy==1.0.1
charade==1.0.3
click==6.7
Flask==0.12.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.10
JPype1-py3==0.5.5.2
MarkupSafe==1.0
numpy==1.14.2
scikit-learn==0.19.1
sklearn==0.0
Werkzeug==0.14.1
WTForms==2.1
git+https://github.com/derlin/boilerpipe3.git
